*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
.navbar{
    height: 70px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 40px;
    width: 170px;
    padding: 13px;
}

.logo{
    background-image: url(logo.webp);
    background-size: cover;
    height: 51px;
    width: 170px;
    
}
.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}


.add-first{
     color: #cccccc;
     font-size: 0.85rem;
     margin-left: 15px;
}
.add-sec{
    font-size: 1rem;
    margin-left: 1px;
}
.add-icon{
    display: flex;
    align-items: center;
}
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: yellowgreen;
    width: 500px;
    height: 40px;
    border-radius: 4px;
}
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: black;
}
.nav-search:hover{
    border: 1px solid yellow;
}

span{
    font-size: 0.7rem;
}
.nav-sec{
    font-size: 0.85rem;
    font-weight: 700;
}

.nav-cart i{
    font-size: 30px;
}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}
.panel{
    height: 40px;
    background-color: #222f3d;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.panel-option p{
    display: inline;
    margin-left: 15px;
}

.panel-option{
    width: 90%;
    font-size: 0.85rem;
}
.hero-section{
    background-image: url(hero.jpg);
    background-size: cover;
    height: 500px;
    

}
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* background-color: papayawhip; */
    margin-top: -10%;
}
.box{
    /* border: 2px solid black; */
    height: 400px;
    width: 23%;
    background-color: rgb(247, 240, 240);
    padding: 20px 0px 15px;
    margin-top: 20px;
    font-size: 13px;
}
.box-img{
    height: 300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-contant{
    margin-left: 1rem;
    margin-right: 1rem;
}
.box-contant p{
    color: #007185;
    
    
}
footer{
    margin-top: 10px;
}
.foot-panel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot-panel2{
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}
ul{
    margin-top: 50px;
}
ul a{
    display: block;
    margin-top: 10px;
    font-size: 0.85rem;
    color: #dddddd;
}
